<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
              <a href="/">Home</a>
            </ul>
        </nav>
        <div>
          <h2>Welcome to our Game - Rock, Paper and Scissors</h2>
          <h3>Provide the options in the url like :
            <li>http://localhost:5000/rock/paper</li>
            <li>http://localhost:5000/paper/paper</li>
            <li>http://localhost:5000/scissors/paper</li>
          </h3>
        </div>      
        
    </header>

    {% block content %}

    {% endblock %}

    <footer>
       
    </footer>
</body>
</html>